@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
h1{
    font-size: 80px;
    color: rgb(173, 173, 173);
    font-weight: 5;
    font-family: 'Montserrat', sans-serif;    
}

.texto1{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 100;
    
}

button{
    border: none;
    background-color: white;
    color: red;
}

.texto2{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 100;
      
}

